@media (max-width: 992px){
  .intro-title strong{
    margin-left: -130px;
  }
}

@media (max-width: 1540px) {
  h1 {
    font-size: 55px;
  }
}

@media (max-width: 992px) {
  .row6 {
    position: static;
    margin: 0;
  }
  .row6>div {
    margin: 0;
    padding: 0;
  }
  .row7 {
    margin-top: 0;
    padding-top: 30px;
  }
}

@media (max-width: 992px) {
  .row7 {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .row8, .row8a {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .row8 .row {
    margin-left: : 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 360px){
  .row1 .col-lg-12 {
    margin: 0;
  }
}
